.qrscanner video {
  max-width: 90%;
  max-height: 70%;
}

h2{
  margin:20px;
  color: white;
}

.row-element-set {
  display: flex;
  flex-direction: column;
}
.row-element {
  padding: .2em 0em;
}

.row-element-set-QRScanner
{
  max-width: 30em; 
  display: flex;
  flex-direction: column;
}

body
{
  background-color:#052a51;
  margin: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field-caption {
  font-weight: bold;
  color: white;
}

.form-field-input
{
 width: 90%; 
}

    .error_message {
       color: red; 
       background-color: white; 
       border: 1px solid red; 
       padding: 4px; 
       font-family: sans-serif 
    }
