.colorWhite{
  color:white;
}


.fs20{
  font-size: 20px;
}


.fs40{
  font-size: 40px;
}

.fs30{
  font-size: 40px;
}


.qrscanner video {
  max-width: 80%;
  max-height: 70%;
}

text{
  margin-left: 15px;
}

h2{
  margin:10px;
  color: white;
}

.row-element-set {
  display: flex;
  flex-direction: column;
}
.row-element {
  padding: .2em 0em;
}

.row-element-set-QRScanner
{
  max-width: 30em; 
  display: flex;
  flex-direction: column;
}

body
{
  background-color:#052a51;
  margin: 70px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-field-caption {
  font-weight: bold;
  color: white;
}

.form-field-input
{
 width: 90%; 
}

