body
{
    padding: 1.5em;
  margin: auto;
  padding: 20px;
  justify-content: center;
  align-items: center;
  text-align:center;
  background-color: black;    
}
input{
    width: 3;
}
.colorWhite{
    color:white;
  }
  
  
  .fs20{
    font-size: 20px;
  }
  
  .fs30{
    font-size: 30px;
  }
  
  .fs40{
    font-size: 40px;
  }
  

 div{
     margin:0 auto;
 } 
  
h1,h2,h3{
    margin: 25px;
    font-weight: 200!important;
    
    color: white;
  }

  .qrscanner video {
    max-width: 50%;
    max-height: 50%;
  }

.footer{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 4rem 1rem 1rem 0;
}
@media only screen and (max-width: 576px) {
    .footer img{
        width: 28%;
    }
    .incyt{
    width: 23%!important;
height: 100%;
}
    #tec-image{
        width: 30%!important;
    }
.carne, 
input, 
select, 
textrea{
   width: 80%; 
}
    .btn{
        font-weight: 200!important;
    }
    
   
} 

    
}

textarea{
    width: 75%!important;
height:1px;
}

.botones{
    padding: 0 0 5rem 0;
}
  #tec-image {  width: 10%;  height: auto; } 
body{
    padding: 0px; 
}


@media only screen and (min-width: 576px) {
  
    .footer{
    width: 55%;
}
    input{
    width: 35%!important;
}
    textarea{
    width: 35%!important;
height:1px;
}

     
} 


textarea{
    font-size: 10px!important;
    padding: 26px!important;
}